{# templates/footer.html.twig #}
<div id="divFooter">
    <section id="footer">
        <div class="container bg-dark col-xs-12 col-sm-12 col-md-12">
            <div class="row text-center text-xs-center text-sm-center text-md-center" style="padding-top: 15px;">
                <div class="col-xs-12 col-sm-5 col-md-5"></div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <h5 class="font" style="color: #FFF;">{{ 'quick-links'|trans }}</h5>
                    <div class="form-inline">
                        <div class="col-xs-12 col-sm-3 col-md-3"></div>
                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <ul class="list-unstyled quick-links text-xs-left text-sm-left text-md-left">
                                <li><a href="/" class="awesome-dark">{{ 'home-lower'|trans }}</a></li>
                                <li><a href="/about" class="awesome-dark">{{ 'about'|trans }}</a></li>
                                <li><a href="/faq" class="awesome-dark">{{ 'faq'|trans }}</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-2"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item col-xs-1 col-sm-1 col-md-1 mt-1 mt-sm-1"><a href="https://www.facebook.com/marcoshernandezrojo" target="_blank"><i class="fab fa-facebook-square fa-2x awesome-dark"></i></a></li>
                        <li class="list-inline-item col-xs-1 col-sm-1 col-md-1 mt-1 mt-sm-1"><a href="http://twitter.com/AboMarcosHrojo" target="_blank"><i class="fab fa-twitter fa-2x awesome-dark"></i></a></li>
                        <li class="list-inline-item col-xs-1 col-sm-1 col-md-1 mt-1 mt-sm-1"><a href="javascript:void(0);" target="_blank"><i class="fab fa-instagram fa-2x awesome-dark"></i></a></li>
                        <li class="list-inline-item col-xs-1 col-sm-1 col-md-1 mt-1 mt-sm-1"><a href="javascript:void(0);" target="_blank"><i class="fab fa-google-plus fa-2x awesome-dark"></i></a></li>
                        <li class="list-inline-item col-xs-1 col-sm-1 col-md-1 mt-1 mt-sm-1"><a href="/email"><i class="fas fa-envelope fa-2x awesome-dark"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
                    <p class="copyright" style="color: rgba(255, 255, 255, 0.5);">&copy;&nbsp;<span id="currentYear"></span>&nbsp;{{ 'copyright'|trans }}</p>
                </div>
                </hr>
            </div>
        </div>
    </section>
</div>
